/ctsms.ids
/ctsms.iml
/ctsms.ipr
/ctsms.iws
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/src/main/webapp/upload/*